<ion-header>
  <ion-toolbar>
    <ion-title>chat-detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ item.subtitle }}</ion-card-subtitle>
      <ion-card-title>{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-badge color="primary">{{item.id}}</ion-badge>
      some content: {{ item.id }}
    </ion-card-content>
  </ion-card>
</ion-content>
