<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ionic Demo page</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2>routerLink</h2>
  <ion-button mode="ios" routerLink="/tabs/tab2"> Click me </ion-button>
  <ion-button color="secondary" routerLink="/tabs/tab2"> Click me </ion-button>
  <ion-button color="tertiary" routerLink="/tabs/tab2"> Click me </ion-button>
  <ion-button color="dark" routerLink="/tabs/tab2"> Click me </ion-button>
  <ion-button color="medium" routerLink="/tabs/tab2"> Click me </ion-button>
  <ion-button color="light" routerLink="/tabs/tab2"> Click me </ion-button>
  <hr />

  <h2>alert</h2>
  <ion-button (click)="showAlert()" mode="ios"> Click me </ion-button>
  <ion-button (click)="showAlert()" color="secondary"> Click me </ion-button>
  <ion-button (click)="showAlert()" color="tertiary"> Click me </ion-button>
  <ion-button (click)="showAlert()" color="dark"> Click me </ion-button>
  <ion-button (click)="showAlert()" color="medium"> Click me </ion-button>
  <ion-button (click)="showAlert()" color="light"> Click me </ion-button>
  <hr />
  <ion-button mode="md" (click)="presentModal()"> modalctrl </ion-button>
  <ion-button mode="md" (click)="presentNativeModal()">
    native modal
  </ion-button>

  <ion-button (click)="openBrowser()" expand="block" fill="clear" shape="round">
    browser
  </ion-button>
</ion-content>
